
@{
    ViewBag.Title = "BuscarxCarreraxAnio";
}

<h1>Buscar Alumnos por carrera y año de inscripcion</h1>
<div class="form-horizontal">

    <hr />

    <form action="/Inicio/ResultadoBuscarxCarreraxAnio" method="post">
        <div class="form-group">
            <h2>Selecccione la carrera</h2>
            <div class="col-md-10">
                <select id="Package_State" name="txtcurso">
                    <option value="C01">Educacion Informatica</option>
                    <option value="C02">Administracion</option>
                    <option value="C03">Contabilidad</option>
                    <option value="C04">Idiomas</option>
                    <option value="C05">Ing. de Sistemas</option>
                </select>
            </div>
        </div>

        <br />
        <div class="form-group">
            <h2>Selecccione año</h2>
            <div class="col-md-10">
                <select id="Package_State" name="txtanio">
                    <option value="03/11/2005">2005</option>
                    <option value="03/11/2006">2006</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calcular" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>

