 @model Final.Models.Final2
@{
    ViewBag.Title = "Last";
}

<h1>Resultado</h1>




<div class="form-group">
    <div class="col-md-10">
        <h4>Bonificacion Hijos : @Model.nombre</h4>
    </div>
    <div class="col-md-10">
        <h4>Bonificacion Hijos : @Model.curso</h4>
    </div>
    <div class="col-md-10">
        <h4>Bonificacion Condicion Lab : @Model.final</h4>
    </div>

</div>

